In [6]:
import pandas as pd
import numpy as np
from datetime import datetime

tfile = "DLF.trade"
trade_df = pd.read_csv(tfile, sep='|', header=None)
trade_df.columns =['record', 'segment', 'trade_no', 
                    'trade_time', 'series', 'trade_price', 
                    'trade_qty', 'buy_order_no', 'buy_algo', 
                    'client', 'sell_order_no', 'sell_algo']
jiffy = 65536
ist = 330*60
trade_df['time'] = trade_df['trade_time'].apply(lambda x: datetime.fromtimestamp(x/jiffy-ist))#.strftime('%Y-%m-%d %H:%M:%S'))
trade_df['min'] = trade_df['trade_time'].apply(lambda x: datetime.fromtimestamp(x/jiffy-ist).strftime('%H:%M:%S'))
trade_df['price_*_qty'] = trade_df['trade_qty'] * trade_df['trade_price']

In [8]:
trade_df['time'].to_csv('t.csv')

In [7]:
temp = trade_df.groupby('min').get_group('09:15:00')[['trade_qty', 'price_*_qty']].sum()
temp[1]/temp[0]

29108.14373088685

In [36]:
trade_df['sec'] = [['']]
trade_np = trade_df[['min', 'price_*_qty', 'trade_qty']].values

In [61]:
trade_np.dtype

dtype('O')

In [40]:
rows, row_idx = np.unique(trade_np[:, 0], return_index=True)
for r, id in zip(rows, row_idx):
    np.array([r, trade_np[r:, :]])

In [56]:
np.zeros((rows.shape[0], 2))[0 , 0]

0.0

In [81]:
rows, row_idx = np.unique(trade_np[:, 0], return_index=True)
price = np.zeros((rows.shape[0], 2), dtype=trade_np.dtype)
for i, (r, id1, id2) in enumerate(zip(rows, row_idx, row_idx[1:])):
    price[i, 0] = r
    price[i, 1] = trade_np[id1:id2, 1:2].T.sum()/trade_np[id1:id2, 2:].T.sum()
    # price[i, 2] = trade_np[id1:id2, 2:].T.sum()

temp = trade_df.groupby('min').get_group(trade_df['min'].unique()[-1])[['trade_qty', 'price_*_qty']].sum()
price[-1, 0] = trade_df['min'].unique()[-1]
price[-1, 1] = temp[1]/temp[0]
price

array([['09:07:58', 29105.0],
       ['09:15:00', 29108.14373088685],
       ['09:15:01', 29116.441521507288],
       ...,
       ['15:53:17', 29045.0],
       ['15:55:34', 29045.0],
       ['15:57:08', 29045.0]], dtype=object)

In [79]:
trade_df['min'].unique()[-2]

'15:55:34'

In [ ]:
price[:, 1:2].ravel()

In [44]:
rows

array(['09:07:58', '09:15:00', '09:15:01', ..., '15:53:17', '15:55:34',
       '15:57:08'], dtype=object)

In [42]:
row_idx.shape

(16126,)

In [31]:
rows, row_pos = np.unique(trade_np[:, 0], return_inverse=True)
cols, col_pos = np.unique(trade_np[:, 1], return_inverse=True)

pivot_table = np.zeros((len(rows), len(cols)))#, dtype=trade_np.dtype)
pivot_table[row_pos, col_pos] = trade_np[:, 2]

In [34]:
row_pos

array([    0,     0,     0, ..., 16123, 16124, 16125], dtype=int64)

In [32]:
pd.DataFrame(pivot_table)

,0,1,2,3,4,5,6,7,8,9,...,26171,26172,26173,26174,26175,26176,26177,26178,26179,26180
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
np.savetxt("foo.csv", pivot_table, delimiter=",")

In [21]:
np.unique(trade_np[:, 0], return_inverse=True)

(array(['09:07:58', '09:15:00', '09:15:01', ..., '15:53:17', '15:55:34',
        '15:57:08'], dtype=object),
 array([    0,     0,     0, ..., 16123, 16124, 16125], dtype=int64))

In [9]:
current_price = dict()
for t in trade_df['min'].unique():
    temp = trade_df.groupby('min').get_group(t)[['trade_qty', 'price_*_qty']].sum()
    current_price[t] = temp[1]/temp[0]

In [20]:
trade_np.shape

(100822, 3)

In [ ]:
trade_df.pivot(index='min', columns='price_*_qty', values='trade_qty')

In [ ]:
current_price

In [ ]:
trade_df.groupby('sell_algo').count()